body {
  background: linear-gradient(231deg, #60a5fa, #34d399, #f87171, #fbbf24);
    background-size: 800% 800%;

    -webkit-animation: GradientAnimator 30s ease infinite;
    -moz-animation: GradientAnimator 30s ease infinite;
    animation: GradientAnimator 30s ease infinite;
}

@-webkit-keyframes GradientAnimator {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes GradientAnimator {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes GradientAnimator {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
